footer {
  color: white;
  background-color: #292929;
}
.navbar-brand img{
  width: 300px;
  height: 100px;
  object-fit: contain;
  padding: 0px;
  background-color: #004030;
}
footer {
  background-color:#004030 ;
}
